[Desktop Entry]
Icon=text-html
Name=http://www.esp8266.com/viewtopic.php?f=19&t=990
Type=Link
URL[$e]=http://www.esp8266.com/viewtopic.php?f=19&t=990
