[Desktop Entry]
Icon=text-html
Name=http://randomnerdtutorials.com/esp8266-web-server/
Type=Link
URL[$e]=http://randomnerdtutorials.com/esp8266-web-server/
