[Desktop Entry]
Icon=text-html
Name=http://randomnerdtutorials.com/getting-started-with-esp8266-wifi-transceiver-review/
Type=Link
URL[$e]=http://randomnerdtutorials.com/getting-started-with-esp8266-wifi-transceiver-review/
