[Desktop Entry]
Icon=text-html
Name=http://randomnerdtutorials.com/how-to-make-two-esp8266-talk/
Type=Link
URL[$e]=http://randomnerdtutorials.com/how-to-make-two-esp8266-talk/
