[Desktop Entry]
Icon=text-html
Name=http://randomnerdtutorials.com/flashing-nodemcu-firmware-on-the-esp8266-using-windows/
Type=Link
URL[$e]=http://randomnerdtutorials.com/flashing-nodemcu-firmware-on-the-esp8266-using-windows/
